#CocktailList {
    width: 50%;
    height: calc(100% - 40px);
    overflow-y: auto;
    // overflow-x: hidden;
    position: relative;

    .CocktailItem {
        position: absolute;
        width: calc(100% - 5px);
        height: 200px;
        margin-bottom: 5px;
        margin-left: 3px;
        margin-right: 3px;
        button {
            height: 100%;
        }
        a {
            text-decoration: none;
            color: #0f1724;
        }
        .thumbnail {
            top: -10px;
            position: relative;
            height: 140px;
            filter: grayscale(90%);
            transition: all 300ms;
        }
        .thumbnail:hover {
            filter: none;
            transform: scale(1.15);
        }
        .drinkName {
            position: inherit;
            background-color: #fff;
        }
    }
    .CocktailItem.active .thumbnail {
        filter: none;
        transform: scale(1.15);
    }
    
}

/* Medium sized screen */
@media screen and (max-width: 1300px) {
    #CocktailList {
        width: 100%;
    }
}

/* Small sized screens */
@media screen and (max-width: 700px) {
    #CocktailList {
        .CocktailItem {
            height: 300px;
            .thumbnail {
                height: 240px;
                filter: none;
            }
        }
    }
}