#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    hr {
        width: 100%;
    }
    h1 {
        font-weight: 100;
        font-size: 40px;
        margin: 0;
        margin-left: 10px;
    }
    button {
        margin-right: 10px;
    }
}

/* Small screens */
@media screen and (max-width: 700px) {
    #header {
        height: 70px;
        h1 {
            width: calc(100% - 135px);
            margin-left: 5px;
            font-size: 23px;
            font-weight: 300;
        }
        button {
            width: 125px;
            margin-right: 5px;
            font-size: 12px;
            margin-top: 2px;
        }
    }
}
